<header class="site-header">
  <div class="container">
    <h1 class="logo"><a href="{{ "/" | prepend: site.baseurl }}">esp<span>.py</span></a></h1>
    <nav class="navbar">
      <ul>
        <li><a href="{{ '/' | prepend: site.baseurl }}" title="Home">127.0.0.1</a></li>
        {% for item in site.navbar %}
          <li><a href="{{ '/' | prepend: site.baseurl }}{{ item.slug }}" title="{{ item.title }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
      <button class="theme-toggle" id="themeToggle" aria-label="Toggle dark/light mode" title="Toggle dark/light mode">
        <i class="fa-solid fa-sun icon-sun"></i>
        <i class="fa-solid fa-moon icon-moon"></i>
      </button>
    </nav>
  </div>
</header>
