{% capture includeGuts %}{% capture postLink %}{% if page.permalink %}{{ page.permalink }}{% else %}{{ page.title | slugify: 'latin' }}{% endif %}{% endcapture %}

{% capture imagePath %}{{ page.date | date: "%Y-%m-%d" }}-{{ postLink }}/{{ include.name }}{% endcapture %}
{% capture imageFullPath %}/assets/posts/{{ imagePath }}{% endcapture %}
{% if include.name contains 'http' %}
<img src="{{ include.name }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
{% else %}
{% if include.caption %}
<figure>
<img src="{{ imageFullPath | prepend: site.baseurl | replace: ' ', '' }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
<figcaption>{{ include.caption }}<br><small>{{ include.source }}</small></figcaption>
</figure>
{% else %}
<img src="{{ imageFullPath | prepend: site.baseurl | replace: ' ', '' }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
{% endif %}
{% endif %}
{% endcapture %}
{{ includeGuts | strip }}