.card
  background-color: var(--bg-color)
  box-shadow: none
  padding: $base-spacing
  transition: background-color 0.3s ease
  border-radius: $big-border-radius

  &:not(:last-child)
    margin: 0 0 $base-spacing
